/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Imagely
Version: 2.13

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/

.ngg-galleryoverview {
   
     padding-top: 0px;
     padding-bottom: 0px;
     padding-left: 52px;
     padding-right: 52px;
     margin-top: 0px;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
}

.ngg-gallery-thumbnail-box{
    width: 21%;
    padding: 0 15px;
    display: inline-block;
    
}

.ngg-gallery-thumbnail{
   height: 136px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 10px;
    border: 10px solid #fafafa;
    transition: all 0.5s ease;
}    

#ngg-image-15{
  text-align:center;
display:inline-block;
} 
#ngg-image-15 .ngg-gallery-thumbnail-box {
 float:none !important;
 display:inline-block;
 }