.contact-us {
    width: 100%;
    float: left;
    margin-top: 75px;
}
.contact-head  {
    width: 100%;
    float: left;
    text-align: center;
}
.contact-head h2 {
    font-family: Roboto;
    font-size: 32px;
    color: #0098da;
}

.contact-head span {
    float: left;
    width: 100%;
    color: #0c2746;
    font-size: 14px;
    font-family: Roboto;
}

.contact-details {
    width: 100%;
    float: left;
    padding: 43px 104px 0 104px;
    margin-bottom: 20px;
    margin-top: 31px;
}

.office-add {
    float: left;
    width: 50%;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 61px;
    padding-top: 31px;
    padding-bottom: 37px;
}
.office-img {
    width: 16%;
    float: left;
   
}
.office-img a {
     background: #f5f5f5;
    border-radius: 50%;
    padding: 18px 12px 21px 12px;
} 
.office-detail {
    width: 80%;
    float: left;
}
.office-detail h2 {
    color: #28384d;
    font-size: 22px;
    font-family: Roboto;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 13px;
}

.office-detail p {
    color: #0c2746;
    font-size: 16px;
    font-family: Roboto;
}
.factory-add {
    float: left;
    width: 50%;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 30px;
    padding-top: 31px;
    padding-bottom: 37px;
}

.factory-img {
    width: 17%;
    float: left;
}

.factory-detail {
    width: 80%;
    float: left;
}

.factory-detail h2 {
    color: #28384d;
    font-size: 22px;
    font-family: Roboto;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 13px;
    
}

.factory-detail p {
    color: #0c2746;
    font-size: 16px;
    font-family: Roboto;
}

.factory-img a {
    background: #f5f5f5;
    border-radius: 50%;
    padding: 17px 12px 23px 12px;
} 

.contact-info {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 47px;
}
.contact-info h2 {
    color: #28384d;
    font-size: 22px;
    font-weight: bold;
    font-family: Roboto;
    padding-bottom: 21px;
}

.contact-info h2 span {
    color: #018ac6;
    font-size: 22px;
    font-weight: bold;
    font-family: Roboto;
}

.contact-info label {
    font-size: 16px;
    font-family: Roboto;
    color: #0c2746;
    font-weight: 400;
    padding-bottom: 8px;
}

.contact-info label a {
    font-size: 16px;
    font-family: Roboto;
    color: #0c2746;
    font-weight: 400;
}

.contact-info label a:hover {
    text-decoration: none;
}