/*****************css by dev****************/

.twitter{
    background: #39a9e0;
    padding: 6px 9px 8px 8px;
    margin-right:8px;
}
.facebook{
    padding: 6px 11px 8px 11px;
    background: #3b5998;
    margin-right:8px;
}
.linkdin{
    background: #007fb1;
    padding: 6px 8px 8px 8px;
    margin-right:8px;
}
.google{
    background: #d14836;
    padding: 6px 5px 8px 9px;
    margin-right:8px;
}
.skype{
    background: #00aff0;
    padding: 6px 8px 8px 8px;
    margin-right:5px;
}
.social-icon fl{
    padding-top: 0px;
}

.office-detail textwidget custom-html-widget{
    color: #0c2746;
    font-size: 16px;
   font-family: "Roboto Medium", sans-serif;
}

.contact-info h2{
    display:inline;
}

.title_display{
     display:inline;
 }
.breadcrumb_nav devloper_menu_text  pull-right span{
    color: #2068b0;
}

.breadcrumb_nav span a{
    text-decoration: none;
    font-size: 14px;
    color: #0c2746;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease 0s;
}

.breadcrumb_nav a:hover{
    text-decoration: none;
    color: #2068b0;
}
.breadcrumb_menu navbar > div.container{
	margin-bottom: 0px;
}

.breadcrumb_last{
    color: #2068b0;
	font-size: 14px;
    font-weight: 400;
}

.breadcrumb_color{
    color: #2068b0;
    display: inline;
	font-size: 14px;
}

.our-values p {
    padding-left: 10px;
    padding-right: 10px;
}

.download-brochure h3 , .sign-in h3 {
    
}


.header-bottom .navbar-nav>li.menu-item-has-children>a:after {
    content:'\f107';
    font-family: FontAwesome;
    padding-left: 8px;
}
.sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    //border: 1px solid #ccc;
    //border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.sub-menu li a {
    background: #28384d;
    display: none;
    padding: 6px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
    top: 100%;
    text-decoration: none;
    padding-top:5px;

}

.sub-menu > li >a:hover {
    background-color: #0098da;
    color: #fff;
}

.menu-item-has-children:hover .sub-menu li a {
    display: block;
    text-decoration: none;
}
body{
    /*overflow-x: hidden;*/
}

.footer-mail ul li , .footer-mail ul li a{
    font-size: 16px;
   font-family: "Roboto Medium", sans-serif;
}
.social-icon{
    font-size: 16px;

}

.footer-menu ul li:last-child img{
    display: none;
}

/*.office-detail h2 ,.factory-add h2 {*/
     /*padding-bottom: 0px;*/
    /*margin-top: 0px;*/
/*}*/
.unit-sold h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.unit-sold p{
    margin-top: 5px;
    margin-bottom: 0px;
}
.form-modal .modal-footer{
    border-top: none;
}
.message fl{
    color: #333;
}

.sign-modal a:hover, .sign-modal a:focus , .close span{
    color: #ffffff;
}
.sign-modal .sign-form h3 {
       padding-bottom: 45px;
}

.control__indicator > span > input[type=checkbox] {
    margin: 0px;
    width: 19px;
    height: 19px;
    background: #0098db;
    color: #0098db;
}
.control__indicator > span > label.control {
    margin-top: -24px;
}



.model-footer-enquiry p{
	display:inline-flex;
	margin-left:15px;
}
.model-footer-enquiry{
	padding:0px;
	text-align:center !important;
}

.remember_me{
	display: -webkit-box;
    position: relative;
    padding-left: 28px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    float: left;
    color: #fff;
   font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    padding-top: 0px;
    margin-top: -23px;
}

.remember_me div{
	width:100px;
}
textarea.form-control{
	color: #000;
}
.form-inline > .message > textarea.wpcf7-form-control{
	color:#000;
}
.slider_home{
	transform: translate3d(-3789px, 0px, 0px);
    transition: 0.25s;
    width: 7578px;
}

.heading h2 , .our-values  h2 , .head h2 , .details h2 , .details p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.our-values a , .our-values a:focus,.our-values a:hover , .details a{
    font-size: 16px;
    text-decoration: none;
   font-family: "Roboto Medium", sans-serif;
}
.equipments-details a{
	border: 1px solid #0098db;
    color: #0098da;
    padding: 15px 39px;
    font-size: 18px;
    font-family: "Roboto Medium", sans-serif;
    margin-top: 16px;
    text-transform: uppercase;
	text-decoration: none;
}

.wpcf7-validation-errors{
    border: none;
}

.sign_image{
    background: #f5f5f5;
    padding: 15px 18px 15px 18px;
    border-radius: 50%;
    margin-top: -17px;
    height: 60px;
    width: 60px;
}

.download_image{
   background: #f5f5f5;
    padding: 15px 18px 15px 18px;
    border-radius: 50%;
    margin-top: -17px;
    width: 60px;
    height: 60px;
}

.header-bottom .navbar-nav>li.current-menu-item>a ,
.header-bottom .navbar-nav>li.current_page_item >a {
        border-bottom: 4px solid #0296de;
    background: transparent;
    color: #fff;
    position: relative;
}
input[type="checkbox"],
.aaa{
	height:20px;
	width:20px;
	border:1px solid #000 !important;
}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.breadcumb-container{
	margin-bottom: 0px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: transparent;
    border: 1px solid;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
   background-color: transparent;
    border: 1px solid;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.remember{
	font-size: 14px;
    float: left;
    color: #fff;
   font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
	padding-top: 7px;

}




/*-------menu--/*/
.header-bottom .dropdown-menu {
    background:#28384d;
}
.header-bottom .dropdown-menu>li>a:focus, .header-bottom .dropdown-menu>li>a:hover {
    background:#0296de;
    color:#fff;
}
.header-bottom .dropdown-menu > li> a {
    color:#fff;
}
.header-bottom .dropdown > a span {
    position:relative;
    right:-8px;
}
/*.display-none >a ,.header-bottom .navbar-nav>li ,nav>li.display-none{*/
/*display:none;*/
/*}*/
#menu-item-209,#menu-item-220{
    display:none;
}
a.custom-active{
    background-color:#28384d !important;
    color:#ffffff !important;
}
.error{
    color:#df493a;
}
.select_product_checkbox{
    padding-left: 20px;
    margin: 5px 0;
}
.panel-title-color{
    color: #0098da;
}

.question_answer h3{

    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto Medium", sans-serif;
    margin-bottom: 10px;
}
h4.panel-title{
    font-size: 16px;
    color: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin: 0 0;
}
#cat_name{
    padding:15px;
   position: relative;
    background-color: #fff;
}
.product_review{
    display:block;
    /*position: relative;*/
    /*background-color: #fff;*/
}
.answer_span{
    display: block;
}
.product_review{
    position:relative;
}
.select_product_tab:active , select_product_tab:hover, a.select_product_tab  {
    color:#fff;
    background:#30e299;
    border:1px solid #30e299;
}
.error-msg{
    font-weight: bold;
    color:red;
}
.errordiv{
    text-align: left;
    font-weight: bold;
    color:red;
}
.clearfix{
    clear:both;
}

@media screen and (max-width: 767px) and (min-width: 320px){
    .widget_text {
        display: inline;
    }
    .custom-html-widget{
        display: inline;
        flaot:none;
    }
    .nav:before{
        display:inline;
    }
    .phone_number{
        height:30px;
    }
}


.modal-dialog{
    margin-right:auto;
    padding-right:10px;
}
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok{
    border: 0px;
}

.pagination{
   padding-right: 289px;padding-left: 300px;
}
#SigninFrom > .col-sm-12{
    position: inherit;
}