.product-sec {
    width: 100%;
    padding-top: 60px;
    margin-bottom: 40px;
}

.paroduct-menu {
    width: 100%;
    box-shadow: 0 6px 37px 0 rgba(0, 0, 0, 0.06);
}
.product-heading {
    width: 100%;
    background: #0098da;
}

.product-heading h2 {
    color: #fff;
    font-size: 18px;
    font-family: Roboto;
    padding: 26px 20px 23px 20px;
}

.paroduct-menu ul li  {
    width: 100%;  
}

.paroduct-menu ul li a {
    color: #0c2746;
    font-size: 18px;
    font-family: Roboto;
    text-decoration: none;
    width: 100%;
    padding: 20px 20px 19px 20px;
    float: left;
    background:#fff; 
    border-bottom: 1px solid #f6f6f6;
}

.paroduct-menu ul li a:hover {
    background: #28384d;
    color: #fff;
}

.product-item .milk-cooler {
    margin-bottom: 40px;
}

.form-modal .modal-header {
    width: 100%;
    background: #0098db;
}

.form-modal .modal-header h2 {
    color: #fff;
    text-align: left;
    font-size: 22px;
    font-family: Roboto;
    font-weight: bold;
    padding: 11px 0 7px 15px;
}

.form-modal .close {
    opacity: inherit;
    padding-top: 5px;
    padding-right: 5px;
}

.form-modal .form-inline input::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

.form-modal .form-inline input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
}

.form-modal .form-inline input::-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
}
.form-modal .modal-content .form-inline .form-control {
    border-bottom: 1px solid #dee3e7;
}


.form-modal .message {
    width: 100%;
    padding-top: 33px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.form-modal .text {
    width: 100%;
    padding-top: 33px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.sign-modal .modal-dialog {
    width: 860px;
    min-height: 518px;
    overflow: hidden;
}
.form-modal .modal-footer {
    padding-top: 30px;
    padding-bottom: 45px;
}
.form-modal .modal-content .btn {
    padding: 8px 34px 6px 34px;
}

.sign-modal .modal-body {
    width: 100%;
    display: flex;
}

.sign-modal  .aviva-brand{
    width: 50%;
    position: relative;
    display: inline-flex;
}

.sign-modal .brand-logo {
   position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    height:80px;
    float: left;
    margin: auto;
    text-align: center;
}

.sign-modal  .aviva-brand span {
    float: left;
    width: 100%;
    color: #28384d;
    font-size: 10px;
    font-family: Roboto;
}

.sign-modal .sign-form {
    float: left;
    width: 50%;
    background: #0098db;
    padding: 0 45px 29px 45px;
}

.sign-modal .modal-body {
    padding: 0;
}

.sign-modal .sign-form span {
    background: #006e9e;
    padding: 11px 16px 17px 16px;
    border-radius: 50%;
    margin-top: 30px;
    float: left;
}
.sign-modal .sign-form h3 {
    margin-left: 70px;
    margin-top: 49px;
    font-size: 22px;
    font-family: Roboto;
    font-weight: bold;
    color: #fff;
}
.sign-modal .close {
    margin: 12px -33px 0 0;
    opacity: inherit;
}
.sign-modal .text {
    width: 100%;
    padding-top: 33px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.sign-modal .form-inline input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

.sign-modal .form-inline input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

.sign-modal .form-inline input::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
.sign-modal .modal-content .form-inline .form-control {
    border-bottom: 1px solid #dee3e7;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
    float: left;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    padding-top: 27px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 27px;
  left: 0;
  height: 20px;
  width: 20px;
  background: transparent;
    border: 1px solid #fff;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: transparent;
}
.control input:checked ~ .control__indicator {
  background: transparent;
        
}   
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: transparent;
}
.control input:disabled ~ .control__indicator {
  background: transparent;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: transparent;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: transparent;
}

.sign-modal a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-top: 26px;
    float: right;
}

.sign-modal a:hover, .sign-modal a:focus  {
    text-decoration: none;
}

.sign-modal .moadl-sign-in .btn {
    color: #0098db;
    background: #fff;
    transition: all 0.5s ease 0.2s;
    padding: 12px 66px 9px 66px;
    margin-top: 19px;
}

.sign-modal .moadl-sign-in .btn:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.sign-modal h4 {
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    padding-top: 38px;
    padding-bottom: 27px;
}

.sign-modal .modal-facebook .btn{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 30px;
    background: #385999;
    padding: 12px 31px 10px 31px;
}
.sign-modal .modal-google .btn{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 30px;
    background: #df493a;
    padding: 11px 59px 13px 36px;
    margin-left: 20px;
}
.sign-modal .fa-facebook-f:before, .fa-facebook:before{
    padding-right: 15px;
}

.sign-modal .modal-facebook .btn:hover{
    color: #fff;
    background: #385999;
    
}
.sign-modal .modal-google .btn:hover{
    color: #fff;
    background: #df493a;
}

.sign-modal .modal-google .btn img {
    height: 17px;
    padding-right: 14px;
}

.sign-modal .col-sm-6, .col-sm-12 {
    padding: 0;
}

.sign-modal p {
    width: 100%;
    margin-top: 57px;
    font-size: 13px;
    color: #fff;
    padding-bottom: 5px;
} 

.sign-modal .moadl-submit-in .btn {
    color: #0098db;
    background: #fff;
    transition: all 0.5s ease 0.2s;
    padding: 12px 66px 9px 66px;
    margin-top: 39px;
}

.sign-modal .moadl-submit-in .btn:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.sign-modal .back-sign {
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    margin-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    float: none;
    display: inline-block;
}

.modal-dialog {
    
}