@media screen and (max-width:767px) and (min-width:320px) {
	.wrap {
		width:96%;
	}
	.responsive_center {
		text-align:center;
	}
	.display-flex {
		display:block;
	}
	.display-inlineflex {
		display:inline-block;
	}
	.header-top .navbar-nav {
		width:100%;
		padding-left:10px;
	}
	.mobie_menu_btn {
		display:block;
		float:right;
		margin-left:5px;
		margin-top:10px;
	}
	.mobie_menu_btn span {
		height:2px;
		width:15px;
		background:#fff;
		display:block;
		margin:3px 0;

	}
	.header-top .nav>li>a  {
		margin:0;
	}
	.logo, .logo img {
		float:none !important;
		text-align:center;
		height: 60px;
	}
	
	.contactinfo, .contactinfo li, .social-icons, .social-icons li{
		float:none !important;
		text-align:center;
		 height: 30px;
	}
	.header-top {
		text-align:center;
		padding-bottom: 28px;
	}
	.owl-nav {
		top:40%;
	}
	.banner .owl-carousel .owl-item img, .banner {
		height:120px;
	}
	.sign-in   {
		margin-left: 24px;
		margin-right: 34px;
	}
	.download-brochure   {
		margin-left:0;
		margin-right:10px;
	}
	.sign-in h3, .download-brochure h3 {
		font-size:13px;
		float:left;
		text-align: center;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: -20px;
		margin-top: 20px;

	}
	.sign-in h3{
		margin-left: -40px;
		text-align: center;
	}
	.sign-in h3 strong, .download-brochure h3 strong {
		font-size:14px;
	}
	.sign-in a {
		padding:0;
		width:45px;
		height:45px;
		display:flex;
		justify-content: center;
		align-items: center;
		float:left;
	}
	.download-brochure a {
		padding:0;
		width:45px;
		height:45px;
		display:flex;
		justify-content: center;
		align-items: center;
		float:left;

	}
	.download-brochure a img, .sign-in a img  {
		width:100%;
		max-width:23px;
		height:auto;
	}
	.about_banner {
		height: 264px;
	}
	.about_banner img {
		height: 264px;
	}
	.about_banner:before {
		height: 264px;
	}
	.request_banner_head {
		padding-top: 0;
		height: 264px;
	}
	.header_main .wrap {
		width:100%;
	}
	.header_main .navbar {
		width:100%;
		margin:0;
		text-align: center;
	}
	.header-bottom {
		width:100%;
	}
	.header-bottom .navbar-nav {
		margin:0;
	}
	.header-bottom .navbar-nav li {
		width:100%;
		margin:0;
	}
	.header_main {
		top:-20px;
	}
	.header-middel {
		padding-bottom:20px;
	}
	.header-bottom  .navbar-nav>li>a {
		padding:15px;
	}

	.inquiry {
		width:100%;
		float:left
	}
	.inquiry .btn-info {
		width:100%;
		padding:10px;
		text-align:center;
		font-size:15px;
	}
	#menu-contain {
		display:none;
	}
	.owl-prev, .owl-next {
		background-size:20px;
		min-width: 20px;
		min-height: 20px;
	}
	.our-details {
		margin-top:50px;
		padding-bottom:20px;
	}
	.our-values {
		margin:35px 0;
	}
	.map {
		width:100%;
	}
	.our-values > img {
		background: #fff;
		border: 15px solid #fafafa;
		margin-top: -50px;
		border-radius: 50%;
		max-width: 95px;
		padding: 15px;
	}
	.map img {
		margin:0;
	}
	.our-values h2 {
		font-size:20px;
	}
	.equipments-details {
		width:100%;
		margin:0;
		padding:30px 10px;
		text-align:center;
	}
	.equipments-details p  {
		padding-top:0;
		float:none;
		display:inline-block;
	}
	.equipments-details p br {
		display:none;
	}
	.equipments-details span {
		padding-bottom:30px;
		float:none;
		width:100%;
		display:inline-block;
	}
	.equipments-details a {
		font-size:15px;
	}
	.product-ranges {
		padding-top:30px;
		padding-bottom:30px;
	}
	.head h2, .heading h2, .our-imact-details h2, .footer-info h2 {
		font-size:18px;
	}
	.product-info {
		padding-top:40px;
		padding-bottom:30px;
	}
	.cooler {
		text-align:center;
	}
	.milk-cooler {
		margin:10px 0;
	}
	.view-products a {
		font-size:15px;
		display:inline-block;
	}
	.background {
		padding:20px 10px;
	}
	.our-imact-details {
		padding-bottom:20px;
	}
	.our-imact-details p {
		font-size: 13px;
	}
	.unit-sold {
		margin:20px 0;
	}
	.unit-sold h2 {
		font-size: 20px;
	}
	.footer_main {
		display:flex;
		flex-direction: column;
	}
	.footer_address{
		width:100%;
		order: 2;
	}

	.footer_form{
		width:100%;
		order: 1;
	}
	.footer-info, .enquiry-form  {
		max-width:100%;
	}
	.enquiry-form  {
		padding:20px 10px 20px;
		text-align:center;
	}
	.email-id {
		width:100%;
		padding:8px 0 33px;
	}
	.contact {
		width:100%;
		padding:8px 0 33px;
	}
	.enquiry-form .btn {
		font-size:15px;
		margin-top:20px;
	}
	.message {
		padding-top:0;
	}
	.footer-info {
		padding:20px 10px;
	}
	.copyright {
		padding-bottom:10px;
	}
	.footer-info p, .footer-mail ul li {
		font-size:14px;
	}
	.sign-modal .modal-body {
		display:inline-block;
	}
	.sign-modal .brand-logo {
		position:inherit;
	}
	.sign-modal  .aviva-brand, .sign-modal .sign-form {
		width:100%;

	}
	.modal-dialog{
		padding-right: 10px;
		margin:0px;
	}
	.contact-info h2 {
		width: 100%;
		float: left;
		padding: 0;
		font-size: 18px;
	}
	/*---* Contact Start*----*/
	/*---* Our Product Start*----*/
	.details h2 {
		padding-top: 15px;
	}
	.details p{
		font-size: 13px;
		padding-top: 10px;
	}
	.product-sec{
		padding-top: 15px;
		margin-bottom: 10px;
	}
	.download-brochure_pro {
		text-align: center;
	}
	
	/*---* Our Product End*----*/
	/*---* News Start*----*/
	.news-img {
		width:100%;
	}
	.news-details {
		width:100%;
		padding-top: 20px;
		    text-align: center;
	}
	/*---* News End*----*/


	.contact-details {
		padding: 0;
	}
	.contact-head h2 {
		font-size: 20px;
	}
	.contact-head span {
		font-size: 12px;
	}
	.office-add {
		width: 100%;
		padding-left: 0;
		border-right: inherit;
		padding-top: 0px;
		padding-bottom: 20px;
	}
	.office-img {
		width: auto;
		margin-right: 0;
	}
	.office-img img {
		width: 60%;
	}
	.office-img a {
		padding: 9px 0 0 0;
		height: 58px;
		width: 58px;
		float: left;
		text-align: center;
	}
	.office-detail {
		padding-left: 20px;
	}
	.factory-add {
		width: 100%;
		padding-left: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.factory-img {
		width: auto;
		margin-right: 0;
	}
	.factory-img img {
		width: 60%;
	}
	.factory-img a {
		padding: 9px 0 0 0;
		height: 58px;
		width: 58px;
		float: left;
		text-align: center;
	}
	.factory-detail {
		padding-left: 20px;
	}
	.contact-info h2 span {
		font-size: 16px;
	}
	.office-detail h2 {
		font-size: 18px;
	}
	.office-detail p {
		font-size: 14px;
	}
	.factory-detail h2 {
		font-size: 18px;
	}
	.factory-detail p {
		font-size: 14px;
	}
	.contact-info {
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.contact-info label {
		text-align: center;
		font-size: 14px;
	}
	.contact-info label a {
		font-size: 14px;
	}
	/*---* Contact End*----*/

	/*----* Our Client Start *----*/
	.client-logo {
		height: inherit;
		display: inline-block;
		width: auto;
		max-width: 210px;
		margin-left: -15px;
	}
	.Client_logo_box {
		width: auto;
	}
	.client-sec {
		padding: 10px 0;
	}

	/*----* Our Client End *----*/
	/*----* Our Client Start *----*/

	.request_banner_head h2 {
		font-size: 22px;
	}
	.request_banner_head p {
		font-size: 14px;
	}
	.product-item {
		display: inline-block;
		float: left;
		width: 100%;
	}
	.product-item .milk-cooler {
		text-align: center
	}
	/*----* Our Client End *----*/

	/*---* Request Quotation Start*---*/
	.request_menu li label {
		font-size:13px;
	}
	.request_wrap {
		width:90%;
	}
	.request_question {
		padding-bottom:40px;
	}
	.question_part {
		margin-bottom:0;
	}
	/*---* Request Quotation End*---*/
	/*---* Our Product Start*---*/
	.product-heading h2 {
		padding: 17px 20px 14px 20px;
		font-size: 16px;
	}
	.paroduct-menu ul li a {
		padding: 10px 20px 10px 20px;
		font-size: 14px;
	}
	/*---* Our Product End*---*/

	/*---* About us start*---*/
	.value-heading h2 {
		font-size: 25px;
	}
	.about-us-detail h2 {
		font-size: 17px;
	}
	.contact-us {
		margin-top: 20px;
	}
	.about-us {
		padding-top: 0px;
	}
	.about-us-detail p {
		padding-top: 15px;
	}
	.aviva-values {
		padding-top: 50px;
	}
	.value-details {
		width: 100%;
		margin: 0px 10px;
		padding: 0px 10px;
	}
	.value-heading h2 {
		text-align: center;
	}
	.value-details span {
		padding-left: 16px;
	}
	.aviva-capabilities {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.our-capabilities {
		padding-top: 0px;
	}
	.infrastructure{
		text-align: center;
		margin-top: 0px;
		/*margin-left: 60px;*/
	}
	.infrastructure-img {
		margin-top: 20px;
		width: 45%;
		height: 100%;
		margin-left: 10px;
		margin-right: 22px;
	}
	.infrastructure-img img {
		padding: 20px;
		height: 142px;
		/*padding: 10px;*/
		/*padding-bottom: 30px;*/
		/*padding-top: 30px;*/
		max-width: 70%;
	}
	.research-wing-img {
		width: 49%;
		height: 70%;
		margin-top: -140px;
		text-align: center;
		margin-left: 28px;
		margin-right: 41px;

	}
	.research-wing-img img {
		padding:23px;
		width: 59%;
		height: 70%;
	}
	.paradigms {
		margin-top:  -241px;
	}
	.research-wing{
		margin-top: 25px;
	}
	.paradigms-img {
		margin-left: 136px;
		width: 40%;
		height: 50%;
		padding-top: 8px;
	}
	.paradigms-img img {
		padding-top: 27px;
		padding-bottom: 10px;
		max-width: 50%;
		height: 110px;
	}
	.paradigms-details {
		padding-top: 25px;
	}
	.paradigms-details h2 {
		margin-top: 10px;
		text-align: center;
	}
	.paradigms-details p{
		margin: 0px;
		text-align: center;
	}
	.research-wing h2{
		text-align: center;
	}
	.research-wing p{
		margin-left:0px;
		text-align: center;
	}
 	/*---* About us  End*---*/
	.pagination {
		 padding-right: 0px;
		 padding-left: 0px;
	}
}
@media screen and (max-width:1024px) and (min-width:768px) {
	.wrap {
		width:96%;
	}
	.inquiry .btn-info {
		padding: 21px 20px;
	}
	.header_main {
		top:-30px;
	}
	.header-bottom  .navbar-nav>li>a {
		padding: 20px 10px 20px 10px;
	}
	.banner, .banner .owl-carousel .owl-item img {
		height:272px;
	}
	.owl-nav {
		top:44%;
	}
	.owl-prev, .owl-next {
		background-size:40px;
		min-width: 40px;
		min-height: 40px;
	}
	.our-details {
		margin:90px 0 0 0;
	}
	.our-values {
		padding:0 10px 20px;
	}
	.our-values h2 {
		font-size:20px;
	}

	.our-values img {
		max-width:70px;
	}
	.our-values > img {
		border: 15px solid #fafafa;
		margin-top: -50px;
		padding:10px;
		max-width:95px;
	}
	.head h2, .heading h2, .our-imact-details h2, .footer-info h2 {
		font-size:28px;
	}
	.map {
		width:40%;
	}
	.map img {
		margin:30px;
	}
	.equipments-details {
		width:48%;
		margin-left:60px;
	}
	.equipments-details p {
		padding:0;
	}
	.equipments-details p br {
		display:none;
	}
	.equipments-details a {
		font-size:15px;
		padding:12px 35px;
	}
	.details h2 {
		font-size:16px;
		padding-top:15px;
	}
	.details p {
		padding-top:10px;
	}
	.product-info {
		padding-bottom:50px;
	}
	.view-products a {
		display:inline-block;
		font-size:15px;
	}
	.product-ranges {
		padding-bottom:40px;
	}
	.background {
		padding:40px 0;
	}
	.our-imact-details {
		padding-bottom:40px;
	}
	.footer-info {
		width:94%;
	}
	.enquiry-form {
		padding:20px;
	}
	.enquiry-form .btn {
		font-size:15px;
	}
	/*---* Contact Start*----*/
	.office-add {
		padding-left: 0;
	}
	.office-img {
		margin-right: 0;
	}
	.office-detail{
		width: 69%;
	}
	.office-detail h2 {
		font-size: 18px;
		padding-left: 15px;
	}
	.office-detail p {
		padding-left: 15px;
	}

	.factory-add {
		padding-left: 0px;

	}
	.factory-img {
		margin-right: 0;
		margin-left: 20px;
	}
	.factory-detail{
		width: 69%;
	}

	.factory-detail h2 {
		font-size: 18px;
		padding-left: 25px;
	}
	.factory-detail p {
		padding-left: 25px;
	}
	/*---* Contact End*----*/

	/*----* Our Client Start *----*/
	.client-logo {
		height: inherit;
		display: inline-block;
		width: auto;
		max-width: 210px;
	}
	.Client_logo_box {
		width: auto;
	}
	/*----* Our Client End *----*/
	/*---* Product Start *---*/
	.product-item .milk-cooler {
		text-align: center;
	}
	.request_banner_head p {
		font-size: 15px;
	}

	.paroduct-menu ul li a {
		font-size: 11px;
	}
	.details h2 {
		font-size: 13px;
	}
	.details a {
		font-size: 14px;
	}
	.details p {
		font-size: 12px;
	}
	/*---* Product End *---*/

	/*---* Request Quotation Start*---*/
	.request_menu li label {
		font-size:13px;
	}
	.request_wrap {
		width:90%;
	}


	/*---* Request Quotation End*---*/


	/*---* About us start*---*/

	/*.value-heading h2 {*/
		/*text-align: center;*/
		 /*padding-top: 0px;*/
	/*}*/
	/*.value-details span {*/
		/*padding-left: 16px;*/
	/*}*/
	/*.aviva-capabilities {*/
		/*padding-bottom: 50px;*/
		/*padding-top: 50px;*/
	/*}*/
	/*.our-capabilities {*/
		/*padding-top: 50px;*/
	/*}*/
	/*.infrastructure{*/
		/*text-align: center;*/
		/*margin-left: 60px;*/
	/*}*/
	.infrastructure-img {
		margin-top: 131px;
		width: 41%;
		height: 40%;
		/*margin-right: 210px;*/
	}
	.infrastructure-img img {
		padding: 20px;
		height: 142px;
		max-width: 70%;
	}
	.research-wing-img {
		margin-left: -29px;
		width: 41%;
		height: 60%;
		margin-top: 131px;

	}
	.research-wing-img img {
		padding-bottom: 10px;
		padding-top: 10px;
		/*padding-right: 6px;*/
		/*padding-bottom: 10px;*/
		/*padding-left: 6px;*/
		width: 41%;
		height: 140px;
	}
	.paradigms {
		margin-top:-44px;
	}
	.research-wing h2{
		text-align: center;
	}
	.research-wing p{
		text-align: center;
	}
	.paradigms-img {
		margin-left:405px;
		width: 20%;
		height: 50%;
		padding-top: 8px;
	}
	.paradigms-img img {
		padding: 39px;
		/*padding-bottom: 10px;*/
		/*max-width: 50%;*/
		/*height: 110px;	}*/
	}

	/*---* About us  End*---*/
}
@media screen and (max-width:1240px) and (min-width:1025px) {
	.wrap {
		width:96%;
	}
	.banner, .banner .owl-carousel .owl-item img {
		height:350px;
	}
	.our-details {
		margin:90px 0 0 0;
	}
	.our-values {
		padding:0 10px 20px;
	}
	.our-values h2 {
		font-size:20px;
	}
	.our-values img {
		max-width:70px;
	}
	.our-values > img {
		border: 15px solid #fafafa;
		margin-top: -50px;
		padding:10px;
		max-width:95px;
	}
	.head h2, .heading h2, .our-imact-details h2, .footer-info h2 {
		font-size:30px;
	}
	.map {
		width:40%;
	}
	.map img {
		margin:30px;
	}
	.equipments-details {
		width:48%;
		margin-left:60px;
	}
	.equipments-details p {
		padding:0;
	}
	.equipments-details p br {
		display:none;
	}
	.equipments-details span {
		width:100%;
	}
	.equipments-details a {
		font-size:15px;
		padding:12px 35px;
	}
	.details h2 {
		font-size:16px;
		padding-top:15px;
	}
	.details p {
		padding-top:10px;
	}
	.product-info {
		padding-bottom:50px;
	}
	.view-products a {
		display:inline-block;
		font-size:15px;
	}
	.background {
		padding:40px 0;
	}
	.our-imact-details {
		padding-bottom:40px;
	}
	.footer-info {
		width:94%;
	}
	.enquiry-form {
		padding:20px;
	}
	.enquiry-form .btn {
		font-size:15px;
	}

	/*----* Our Client Start *----*/
	.client-logo {
		height: inherit;
		display: inline-block;
		width: auto;
		max-width: 210px;
	}
	.Client_logo_box {
		width: auto;
	}

	/*----* Our Client End *----*/
	/*---* Product Start *---*/
	.product-item .milk-cooler {
		text-align: center;
	}
	.request_banner_head p {
		font-size: 15px;
	}
	.paroduct-menu ul li a {
		font-size: 15px;
	}
	/*---* Product End *---*/
	/*---* Contact Start*----*/
	.office-add {
		padding-left: 30px;
	}
	.office-img {
		margin-right: 7px;
	}
	.factory-img {
		margin-right: 12px;
	}
	/*---* Contact End*----*/
	.infrastructure{
		text-align: center;
		margin-left: 60px;
	}
	.infrastructure-img {
		margin-top: 215px;
		width: 40%;
		height: 100%;

		margin-right: 0px;
	}
	.infrastructure-img img {
		height:50%;
		padding: 50px 20px;
		/*padding: 10px;*/
		/*padding-bottom: 30px;*/
		/*padding-top: 30px;*/
		max-width: 70%;
	}
	.research-wing-img {
		width: 40%;
		height: 70%;
		margin-top: 212px;
		text-align: center;
		margin-left:  -60px;
		margin-right: 41px;

	}
	.research-wing-img img {
		padding-top: 21px;
		padding-right: 21px;
		padding-bottom: 43px;
		padding-left: 25px;
		width: 60%;
		height: 60%;
	}
	.paradigms {
		margin-top: -65px;
	}
	.research-wing{
		margin-top: 0px
	}
	.paradigms-img {
		margin-left: 460px;
		width: 20%;
		height: 50%;
		padding-top: 0px;
	}
	.paradigms-img img {
		padding-top:  39px;
		padding-bottom: 10px;
		max-width: 30%;
		height: 172px;
	}
	.paradigms-details {
		padding-top: 30px;
	}
	.paradigms-details h2 {
		margin-top: 10px;
	}
	.paradigms-details p{
		margin: 0 60px;
	}
	.research-wing h2{
		text-align: center;
		padding-right: 143px;
	}
	.research-wing p{
		margin-right: 121px;
		margin-left: -20px;
		text-align: center;
	}
	/*---* About us  End*---*/

}
@media screen and (max-width:1920px) and (min-width:1367px) {
	.footer-info {
		max-width: 435px;
	}
	.view-products a  {
		font-size:18px;
	}
}