*{
    padding:0;
    box-sizing:border-box;
}

body {
    margin: 0;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #000;
}

.wrap {
    margin:0 auto;
    width:100%;
    max-width:1200px;
}
h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
}

ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
a {
    text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:focus {
	outline:0;
	outline-offset:0px;
    text-decoration:none;
}
.fl {
    float:left;
}

.fr {
    float:right;
}

.cl {
    clear:both;
}

.header {
    width: 100%;
}

.header-top {
    width: 100%;
    background: #f5f5f5;
    padding: 11px 0;
}
.header-top ul li img {
    margin-right: 10px;
}
.header-top .navbar-nav{
    float: right;
}
.nav>li {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #28384d;
}
.mobie_menu_btn {
	display:none;
}
.menuBtn {
	background:#6b809b;
	margin-top:16px;
}
.display-flex {
	display:flex;	
    flex-wrap: wrap;
}
.display-inlineflex {
	display:inline-flex;	
}

.menuBtn i {
	font-size:25px;
	color:#fff;
}
.header-top .nav>li>a {
    padding: 0;
    margin-left: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #28384d;
}
.header-middel {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 52px;
}
.logo {
    float: left;
}
.logo img {
    float: left;
}
.logo span {
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #28384d;
}
.download-brochure {
    margin-top: 22px;
}

/*.download-brochure a {*/
    /*background: #f5f5f5;*/
    /*padding: 20px 11px 20px 18px;;*/
    /*border-radius: 100px;*/

/*}*/
.download-brochure h3 {
    margin-left: 57px;
    margin-top: -30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.download-brochure h3 strong{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.sign-in {
   margin-top: 22px;
    margin-left: 130px;
    margin-right: 100px;
}

/*.sign-in a {*/
    /*background: #f5f5f5;*/
    /*padding: 20px 16px 20px 16px;;*/
    /*border-radius: 100px;*/

/*}*/
.sign-in h3 {
    margin-left: 57px;
    margin-top: -32px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
	    width: 110px;
}
.sign-in h3 strong{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.header_main {
	position:absolute;
	width:100%;
	top:-38px;
	z-index:100;
}
.header-bottom {
    width: 100%;
    background: #28394d;
    margin-top: 0;
    border: none;
}
.header-bottom .navbar {
    min-height: 0;
    margin-bottom: 0;
	margin-left:20px;
}
.header-bottom .container-fluid {
    padding: 0;
}
.header-bottom  .nav>li>a {
    padding: 0;
    font-size: 14px;
}
.header-bottom  .nav .dropdown .dropdown-toggle:focus{
    background: #28394d;
}
.header-bottom  .navbar-nav>li {
	margin:0 3px;
}
.header-bottom  .navbar-nav>li>a {
    padding: 28px 19px 26px 19px;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-bottom: 4px solid #28394d;
	color: #b3b7ba;
    position: relative;
	transition:all 0.5s ease 0s;
}
.header-bottom .navbar-nav > .dropdown.open > a, .header-bottom .navbar-nav>.open>a:focus, .header-bottom .navbar-nav>.open>a:hover, .header-bottom .nav>li>a:focus, .header-bottom .nav>li>a:hover , .header-bottom .nav>li>a:active  {
	 border-bottom: 4px solid #0296de;
	background:transparent;
	color:#fff;	
	position:relative;
}
.header-bottom .dropdown-menu {
	background:#28384d;
}
.header-bottom .dropdown-menu>li>a:focus, .header-bottom .dropdown-menu>li>a:hover {
	 background:#0296de;
	 color:#fff;
}
.header-bottom .dropdown-menu > li> a {
	color:#fff;
}
.header-bottom .dropdown > a span {
	position:relative;
	right:-8px;
}
.inquiry {
    margin-top: 28px;
}

.inquiry a {
    text-transform: uppercase;
    color: #fff;
    background: #0098db;
    padding: 30px 40px 31px 40px;
}
.banner {
    width: 100%;
    float: left;
	position:relative;
    background-repeat: no-repeat;
    height: 524px;
}
.banner .owl-carousel .owl-item img {
	height: 524px; 
	object-fit:cover;
}
.owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}
.owl-prev {
    min-width: 70px;
    min-height: 70px;
    position: absolute;
    display: block;
    z-index: 100;
    border-radius: 35px;
    overflow: hidden;
    background: url(../images/prev.png);
    background-repeat: no-repeat;
    left: 0;
    font-size: 0px;
    
}
.owl-next {
    min-width: 70px;
    min-height: 70px;
    position: absolute;
    display: block;
    z-index: 100;
    border-radius: 35px;
    overflow: hidden;
    background: url(../images/next.png);
    background-repeat: no-repeat;
    right: 0;
    font-size: 0px;
    
}
.item {
    float: left;
    width: 100%;
}
.owl-carousel .owl-theme {
    width: 100%;
    float: left;
}

.banner-box img {
    margin-top: 120px;
    padding-left: 693px;
}

.banner-gallery {
    margin-top: -166px;
    position: absolute;
    z-index: 1;
}

.equipment-1 {

    border: 1px solid #b6b9be;
}
.equipment-1 img{
    padding: 9px 13px;
}
.equipment-2 {
    margin-left: 14px;
    border: 1px solid #b6b9be;
}
.equipment-2 img {
    padding: 8px 28px;
}
.equipment-3 {
    margin-left: 14px;
    border: 1px solid #b6b9be;
}
.equipment-3 img {
    padding: 11px 40px;
}

.banner-details h2{
    color: #0098da;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
}

.banner-details p {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.section {
    width: 100%;
}

.our-details {
    width: 100%;
    margin-top: 142px;
    padding-bottom: 50px;
}

.our-values {
    width:100%;
    text-align: center;
    background: #fff;
    padding-bottom: 13px;
    box-shadow: 0 6px 37px 0 rgba(0, 0, 0, 0.06);
}

.our-values > img {
    background: #fff;
  
	border:20px solid #fafafa;
    margin-top: -74px;
    border-radius: 50%;
    padding: 17px;
}
.our-values h2 {
    color: #28384d;
    font-size: 22px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 16px;
}

.our-values p {
    color: #0c2746;
    font-size: 14px;
   font-family: 'Roboto', sans-serif;
    padding-top: 8px;
}
.our-values a  {
	margin-top:15px;
	display:inline-block;
}
.our-values a img {
    margin-left: 5px ;
}
.aviva-equipments {
    width: 100%;
}
.heading {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.heading h2 {
    color: #0098da;
    font-family: "Roboto Medium", sans-serif;
    font-size: 32px;
}
.map {
    width: 50%;
    border: 1px solid #e9e9e9;
}

.map img {
    box-shadow: 0 6px 37px 0 rgba(0, 0, 0, 0.06);
    margin: 50px;
}

.equipments-details {
    width: 40%;
    margin-left: 120px;
}

.equipments-details p {
    font-size: 14px;
   font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    padding-top: 47px;
}

.equipments-details span {
    float: left;
    font-size: 14px;
   font-family: 'Roboto', sans-serif;
    padding-bottom: 46px;
}

.equipments-details a {
    border: 1px solid #0098db;
    color: #0098da;
    padding: 15px 39px;
    font-size: 18px;
    font-family: "Roboto Medium", sans-serif;
    margin-top: 16px;
    text-transform: uppercase;
}

.product-ranges {
    width: 100%;
    padding-top: 55px;
    padding-bottom: 80px;
}
.head {
    width: 100%;
    text-align: center;
}

.head h2 {
    color: #0098da;
    font-size: 32px;
    font-family: "Roboto Medium", sans-serif;
    padding-bottom: 11px;
}
.head p {
    color: #0c2746;
   font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.product-info {
    width: 100%;
    padding-top: 72px;
    padding-bottom: 95px;
}

.milk-cooler {
    width: 100%;
    padding:0;
    border: 1px solid #f4f4f4;
    border-bottom: 2px solid #cceaf4;
	transition:all 0.5s ease 0.2s;
}

.cooler {
    width: 100%;
	padding:0;
	border:13px solid #fafafa;
	background:#fff;
	transition:all 0.5s ease 0.2s;
  }
.milk-cooler:hover  {
    box-shadow: 0 6px 37px 0 rgba(247, 252, 255, 0.9);
    border-bottom: 2px solid #0098db;
	background:#fff;
}
.milk-cooler:hover .cooler {
	border-color:#fff;
}
.details {
    width: 100%;
    border-top: 1px solid #f4f4f4;
    background: #fff;
	padding:0 13px;
    margin-bottom: 22px;
}

.details h2 {
    color: #28384d;
    font-size: 18px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 29px;
}

.details p {
    color: #0c2746;
   font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 25px;
	padding-bottom:10px;
}

.details a {
    color: #0098da;
   font-family: 'Roboto', sans-serif;
}

.view-products {
    margin-top: 30px;
    text-align: center;
}

.view-products a {
    background: #0098da;
    color: #fff;
    padding: 17px 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Roboto Medium", sans-serif;
}

.our-impact {
    width: 100%;
}

.background {
    width: 100%;
    background:url(../images/our-impact-background.png);
	background-size:100% 383px;
	padding:80PX 0;
}
.our-imact-details {
    width: 100%;
    text-align: center;
	padding:0 0 80px;
}

.our-imact-details h2 {
    color: #0098da;
    font-size: 32px;
    font-family: "Roboto Medium", sans-serif;
    padding-bottom: 11px;
}
.our-imact-details p {
    color: #0c2746;
    font-size: 14px;
   font-family: 'Roboto', sans-serif;

}

.equipment-save {
    width: 100%;
    text-align: center;
    position: relative;
}
.unit-sold {
    width: 100%;
}
.unit-sold h2 {
    color: #28384d;
    font-size: 30px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;	
}

.unit-sold p {
    color: #0c2746;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
	margin-top:5px;
}


.footer {
    width: 100%;
    background: #1a2738;
}
.footer_main {
	width:100%;
	display:flex;
}
.footer-box {
    width: 100%;
	display:flex;
}

.footer-info {
    width: 100%;
    padding-top: 50px;
	max-width:465px;
	
}
.footer_address {
	width:40%;
	background-color:#182434;
}
.footer_form {
	width:60%;
}
.footer-info h2 {
    color: #0098da;
	display:block;
    font-size: 26px;
    font-family: "Roboto Medium", sans-serif;
}

.footer-info p {
    color: #ffffff;
    font-size: 15px;
   font-family: 'Roboto', sans-serif;
    padding-top: 11px;
}

.footer-mail {
    width: 100%;
    padding-top: 35px;
}

.footer-mail ul li {
    color: #96999e;
    padding-bottom: 8px;
}

.footer-mail ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icon {
    width: 100%;
    padding-top: 17px;
}

.facebook ul li {
    float: left;
}

.facebook ul li a {
    padding: 6px 11px 8px 11px;
    background: #3b5998;
}

.linkdin {
    padding-left: 8px;
}

.linkdin ul li {
    float: left;
}

.linkdin ul li a {
    background: #007fb1;
    padding: 6px 8px 8px 8px;
}

.twitter {
    padding-left: 8px;
}

.twitter ul li {
    float: left;
}

.twitter ul li a {
    background: #39a9e0;
    padding: 6px 9px 8px 8px;
}

.google {
    padding-left: 8px;
}

.google ul li {
    float: left;
}

.google ul li a {
    background: #d14836;
    padding: 6px 5px 8px 9px;
}

.skype {
    padding-left: 8px;
}

.skype ul li {
    float: left;
}

.skype ul li a {
    background: #00aff0;
    padding: 6px 8px 8px 8px;
}
.copyright {
    padding-top: 25px;
    padding-bottom: 52px;
}
.copyright span {
    color: #8f949c;
   font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.enquiry-form {
    width: 100%;
    padding-top: 50px;
	max-width:735px;
	padding-bottom:60px;
	padding-left:60px;
}
.enquiry-form .form-control {
    border: none;
    border-radius: inherit;
}

.enquiry-form .form-inline .form-control {
    width: 100%;
    background: none;
    border-bottom: 1px solid #78828d;
    box-shadow: none;
    font-family: "Roboto Medium", sans-serif;
    font-size: 14px;
	color:#fff;
}
.name {
     width: 100%;
     padding-bottom: 33px;
     padding-top: 8px;
 }
.form-inline .name .form-control {
    padding-bottom: 12px;
}
.email-id {
    width:50%;
	padding-right: 15px;
}
.contact {
    width: 50%;
    padding-left: 15px;
}
.form-inline .contact .form-control {
    padding-bottom: 12px;
}
.message {
    width: 100%;
    padding-top: 24px;
}

.form-inline .message .form-control {
    padding-bottom: 100px;
}

.enquiry-form .btn {
    border: 1px solid #0098da;
    border-radius: inherit;
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
   font-family: 'Roboto', sans-serif;
    padding: 14px 39px 11px 39px;
    margin-top: 45px;
}

.enquiry-form .btn:hover {
    color: #fff;
    background: #0098da;
}

.footer-menu {
    width: 100%;
    background: #15202e;
    padding: 20px 0 9px 0;
}

.footer-menu ul {
    text-align: center;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li img {
    padding: 0 15px;
}

.footer-menu ul li a {
    color: #a1a6ab;
    display: block;
    font-size: 14px;
   font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.modal-content {
    width: 100%;
}
.modal-content .form-control {
    border: none;
    border-radius: inherit;
}

.modal-content .form-inline .form-control {
    width: 100%;
    background: none;
    border-bottom: 1px solid #78828d;
    box-shadow: none;
    font-family: "Roboto Medium", sans-serif;
    font-size: 14px;
}
.form-inline .name .form-control {
    padding-bottom: 12px;
}
.email-id {
    width:50%;
    padding-top: 3px;
}
.form-inline .email-id .form-control {
    padding-bottom: 12px;
}
.contact {
    width: 50%;
    padding-top: 3px;
}
.form-inline .contact .form-control {
    padding-bottom: 12px;
}
.message {
    width: 100%;
    padding-top: 34px;
}

.form-inline .message .form-control {
    padding-bottom: 90px;
}


.modal-content .btn {
    border: 1px solid #0098da;
    border-radius: inherit;
    text-transform: uppercase;
    background: transparent;
    color: #0098da;
    font-size: 18px;
   font-family: 'Roboto', sans-serif;
    padding: 14px 39px 11px 39px;
    text-align: center;
    display: inline-block;
}
.modal-footer {
	border-top:none;
	text-align:center;  
}
.modal-content .btn:hover {
    color: #fff;
    background: #0098da;
}
.inquiry .btn-group-lg>.btn, .btn-lg {
    padding: 25px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    margin-top: -28px;
}

.inquiry .btn-info {
    padding: 28px 41px;
    background: #0098da;
    border: none;
    border-radius: inherit;
    text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
}
.modal-header {
	border-bottom:none;
}
.modal-header h2 {
    text-align: center;
    font-size: 30px;
    color: #999;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 0px 0;
    padding: 4px 0;
}

.responsive-open{
    display: none;
}
.responsive-menu {
    display: none;
    position: relative;
}
.responsive-menu .responsive-link {
    float: right;
}
.responsive-open {
    position: absolute;
    width: 260px;
    right: 0;
    top: 39px;
    background: #fff;
    z-index: 10000;
    padding: 10px;
}

.zeus.tparrows {
  cursor:pointer;
  min-width:70px;
  min-height:70px;
  position:absolute;
  display:block;
  z-index:100;
  border-radius:35px;   
  overflow:hidden;
  background:rgba(0,0,0,0.10);
}

/*----* Our Client Start *----*/
.about_banner {
    width: 100%;
    float: left;
    position: relative;
    display: table-row;
    height: 296px;
}
.about_banner img {
    object-fit: cover;
    height: 296px;
    width: 100%;
}
.about_banner:before {
    content: "";
    top: 0;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 296px;
    z-index: 10;
    background: rgba(10, 20, 34, 0.9);
}
.banner_text {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    left: 0;
}
.request_banner_head {
    width: 1170px;
    max-width: 100%;
    height: 296px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	padding-top:44px;
}
.request_banner_head h2 {
    color: #0098da;
    font-size: 38px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.request_banner_head p {
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
    color: #fff;
    display: block;
    margin: 19px 0 0 0;
}
.client-sec {
    padding: 65px 0;    
}

.img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.Client_logo_box {
	width:19%;
	padding:0 15px; 
	display:inline-block;}
.client-logo {
    height: 136px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 10px;
	border:10px solid #fafafa;
	transition:all 0.5s ease;
}

.breadcrumb_menu {
    float: left;
    width: 100%;
    background: #f6f6f6;
	border:none;
	border-radius:0px;
}
.breadcrumb_nav {
    padding: 12px 0 10px;
    width: 100%;
    float: left;
}
.breadcrumb_nav li {
    float: left;
    margin: 0 8px 0 0;
    position: relative;
    padding-right: 16px;
}
.breadcrumb_nav li:before {
    content: "\f105";
    position: absolute;
    right: 0;
    vertical-align: middle;
    color: rgba(12, 39, 70, 0.45);
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    font-family: 'FontAwesome';
    transition: all 0.2s ease 0s;
}
.breadcrumb_nav li:last-child:before {
	content: "";
}
.breadcrumb_nav li a {
    font-size: 14px;
    color: #0c2746;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease 0s;
}
.breadcrumb_nav li:hover a, .breadcrumb_nav li.active a, .breadcrumb_nav li.active:before, .breadcrumb_nav li:hover:before, .next_btn:hover:after, .next_btn:hover a, .prev_btn:hover:after, .prev_btn:hover a {
    color: #2068b0;
}
/*---* Our Client End *---*/
/*---* Product Start *---*/
.product-sec {
    width: 100%;
    padding-top: 60px;
    margin-bottom: 40px;
}

.paroduct-menu {
    width: 100%;
    box-shadow: 0 6px 37px 0 rgba(0, 0, 0, 0.06);
   
}
.product-heading {
    width: 100%;
    background: #0098da;
}

.product-heading h2 {
    color: #fff;
    font-size: 18px;
   font-family: 'Roboto', sans-serif;
    padding: 26px 20px 23px 20px;
}

.paroduct-menu ul li  {
    width: 100%;  
}

.paroduct-menu ul li a {
    color: #0c2746;
    font-size: 18px;
   font-family: 'Roboto', sans-serif;
    text-decoration: none;
    width: 100%;
    padding: 20px 20px 19px 20px;
    float: left;
    background:#fff; 
    border-bottom: 1px solid #f6f6f6;
}

.paroduct-menu ul li a:hover {
    background: #28384d;
    color: #fff;
     transition: all 0.5s ease 0.2s;
}

.product-item .milk-cooler {
    margin-bottom: 40px;
}

.form-modal .modal-header {
    width: 100%;
    background: #0098db;
}

.form-modal .modal-header h2 {
    color: #fff;
    text-align: left;
    font-size: 22px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 11px 0 7px 15px;
}

.form-modal .close {
    opacity: inherit;
    padding-top: 5px;
    padding-right: 5px;
}

.form-modal .form-inline input::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

.form-modal .form-inline input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
}

.form-modal .form-inline input:-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
}
.form-modal .modal-content .form-inline .form-control {
    border-bottom: 1px solid #dee3e7;
	color:black;
}


.form-modal .message {
    width: 100%;
    padding-top: 33px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.form-modal .text {
    width: 100%;
    padding-top: 33px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.sign-modal .modal-dialog {
    max-width: 860px;
    width:100%;
	min-height: 518px;
    overflow: hidden;
}
.form-modal .modal-footer {
    padding-top: 30px;
    padding-bottom: 45px;
}
.form-modal .modal-content .btn {
    padding: 8px 34px 6px 34px;
}

.sign-modal .modal-body {
    width: 100%;
    display: flex;
    
}

.sign-modal  .aviva-brand{
    width: 50%;
    position: relative;
    display: inline-flex;
}

.sign-modal .brand-logo {
   position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    height:80px;
    float: left;
    margin: auto;
    text-align: center;
}

.sign-modal  .aviva-brand span {
    float: left;
    width: 100%;
    color: #28384d;
    font-size: 10px;
   font-family: 'Roboto', sans-serif;
}

.sign-modal .sign-form {
    float: left;
    width: 50%;
    background: #0098db;
    padding: 0 45px 29px 45px;
}

.sign-modal .modal-body {
    padding: 0;
}

.sign-form fl p {
    background: #006e9e;
    padding: 11px 16px 17px 16px;
    border-radius: 50%;
    margin-top: 30px;
    float: left;
}

.sign-modal .sign-form span{
    background: #006e9e;
    padding: 11px 16px 17px 16px;
    border-radius: 50%;
    margin-top: 30px;
    float: left;
}

.sign-modal .sign-form fl p{
    background: #006e9e;
    padding: 11px 16px 17px 16px;
    border-radius: 50%;
    margin-top: 30px;
    float: left;
}
.sign-modal .sign-form h3 {
    margin-left: 70px;
    margin-top: 49px;
    font-size: 22px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
}
.sign-modal .close {
    margin: 12px -33px 0 0;
    opacity: inherit;
}
.sign-modal .text {
    width: 100%;
    padding-top: 33px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.sign-modal .form-inline input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

.sign-modal .form-inline input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

.sign-modal .form-inline input::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
.sign-modal .modal-content .form-inline .form-control {
    border-bottom: 1px solid #dee3e7;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
    float: left;
    color: #fff;
   font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 27px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 27px;
  left: 0;
  height: 20px;
  width: 20px;
  background: transparent;
    border: 1px solid #fff;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: transparent;
}
.control input:checked ~ .control__indicator {
  background: transparent;
        
}   
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: transparent;
}
.control input:disabled ~ .control__indicator {
  background: transparent;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: transparent;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: transparent;
}

.sign-modal a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-top: 26px;
    float: right;
}

.sign-modal a:hover, .sign-modal a:focus  {
    text-decoration: none;
}

.sign-modal .moadl-sign-in .btn {
    color: #0098db;
    background: #fff;
    transition: all 0.5s ease 0.2s;
    padding: 12px 66px 9px 66px;
    margin-top: 19px;
}

.sign-modal .moadl-sign-in .btn:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.sign-modal h4 {
    color: #fff;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 38px;
    padding-bottom: 27px;
}

.sign-modal .modal-facebook .btn{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 30px;
    background: #385999;
    padding: 12px 31px 10px 31px;
}
.sign-modal .modal-google .btn{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 30px;
    background: #df493a;
    padding: 11px 59px 13px 36px;
    margin-left: 20px;
}
.sign-modal .fa-facebook-f:before, .fa-facebook:before{
    padding-right: 15px;
}

.sign-modal .modal-facebook .btn:hover{
    color: #fff;
    background: #385999;
    
}
.sign-modal .modal-google .btn:hover{
    color: #fff;
    background: #df493a;
}

.sign-modal .modal-google .btn img {
    height: 17px;
    padding-right: 14px;
}

.sign-modal .col-sm-6, .sign-modal .col-sm-12 {
    padding: 0;
}

.sign-modal p {
    width: 100%;
    margin-top: 57px;
    font-size: 13px;
    color: #fff;
    padding-bottom: 5px;

} 

.sign-modal .moadl-submit-in .btn {
    color: #0098db;
    background: #fff;
    transition: all 0.5s ease 0.2s;
    padding: 12px 66px 9px 66px;
    margin-top: 39px;
}

.sign-modal .moadl-submit-in .btn:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.sign-modal .back-sign {
    color: #fff;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    float: none;
    display: inline-block;
}
.open-modal {
	overflow:hidden;
}
/*---*Product End *---*/
/*---* Contact Start*----*/
.contact-us {
    width: 100%;
    float: left;
    margin-top: 75px;
}
.contact-head  {
    width: 100%;
    float: left;
    text-align: center;
}
.contact-head h2 {
   font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #0098da;
}

.contact-head span {
    float: left;
    width: 100%;
    color: #0c2746;
    font-size: 14px;
   font-family: 'Roboto', sans-serif;
}

.contact-details {
    width: 100%;
    float: left;
    padding: 43px 104px 0 104px;
    margin-bottom: 20px;
    margin-top: 31px;
}

.office-add {
    float: left;
    width: 50%;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 61px;
    padding-top: 31px;
    padding-bottom: 37px;
}
.office-img {
    width: auto;
    float: left;
    margin-right: 20px;
   
}
.office-img a {
     background: #f5f5f5;
    border-radius: 50%;
    padding: 9px 0 0 0;
    height: 58px;
    width: 58px;
    float: left;
    text-align: center;
} 
.office-detail {
    width: 80%;
    float: left;
}
.office-detail h2 {
    color: #28384d;
    font-size: 22px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 13px;
}

.office-detail p {
    color: #0c2746;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
}
.factory-add {
    float: left;
    width: 50%;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 30px;
    padding-top: 31px;
    padding-bottom: 37px;
}

.factory-img {
    width: auto;
    float: left;
    margin-right: 20px;
}

.factory-detail {
    width: 80%;
    float: left;
}

.factory-detail h2 {
    color: #28384d;
    font-size: 22px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 13px;
    
}

.factory-detail p {
    color: #0c2746;
    font-size: 16px;
   font-family: 'Roboto', sans-serif;
}

.factory-img a {
    background: #f5f5f5;
    border-radius: 50%;
    padding: 9px 0 0 0;
    height: 58px;
    width: 58px;
    float: left;
    text-align: center;
} 

.contact-info {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 62px;
}
.contact-info h2 {
    color: #28384d;
    font-size: 22px;
    font-weight: bold;
    /*font-family: Roboto;*/
    font-family: 'Roboto', sans-serif;
    padding-bottom: 21px;
}

.contact-info h2 span {
    color: #018ac6;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.contact-info label {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /*font-family: Roboto;*/
    color: #0c2746;
    font-weight: 400;
    padding-bottom: 8px;
    display:block;
}

.contact-info label a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /*font-family: Roboto;*/
    color: #0c2746;
    font-weight: 400;
}

.contact-info label a:hover {
    text-decoration: none;
}

/*---* Contact End*----*/
/*---* Request Quotation Start *---*/
.request_question {
	width:100%;
	float:left;
	padding:40px 0 60px;
}
.request_wrap {
	width:100%;
	max-width:992px;
	margin:0 auto;
}
.request_menu {
	width:100%;
	max-width:900px;	
	margin:0 auto;
	padding:0 0 0px;
}
.request_menu li {
	float:left;
	text-align:center;
	width:33.33%;	
}
.request_border {
	width:50%;
	float:right;
	height:1px;
	background:#0098da;
	position:relative;
	top:20px;
	z-index:-1;
}
.request_menu li:nth-child(2) .request_border  {
	width:100%;
}
.request_menu li:last-child .request_border {
	float:left;
}
.request_menu li a {
	border:1px solid #0098da;
	background:#fff;
	color:#0098da;
	padding-top:9px;
	height:40px;
	width:40px;
	font-size:15px;
	font-weight:500;
	display:inline-block;
	border-radius:50%;
	transition:all 0.5s ease 0.2s;
	
}
.request_menu li>a.active, .request_menu li>a:hover {
	color:#fff;
	background:#30e299;
	border:1px solid #30e299;
}
.request_menu li label {
	width:100%;	
	margin-top:10px;
}
.question_part {
	margin-top:40px;
	background-color:#efefef;
	padding:15px 0;
}
.question_answer {
	   width: 100%;
    float: left;
    background: #fff;
    padding: 15px;
	border-radius:0px;

}
.question_answer label {
	font-weight:400;
	font-size:14px;
	font-family: "Roboto Medium", sans-serif;
	margin-bottom:10px;
	
}
.question_answer input, .question_answer select, .question_answer .form-control:focus {
	width: 100%;
    font-family: "Roboto Medium", sans-serif;
    font-size: 14px;
	}
/*---* Request Quotation End*---*/


/*---* News Start *---*/

.news {
    float: left;
    width: 100%;

}

.news-info {
    float: left;
    box-shadow: 0 6px 37px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 40px;
    padding: 25px;
    width:100%;
}

.news-img {
    float: left;
    width: 49%;

}

.news-details {
    width: 49%;
    float: right;
    margin-left: 10px;
}

.news-details h2 {
    color: #0098da;
    font-size: 18px;
   font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.news-details p {
    color: #0c2746;
   font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.news-details a {
    color: #0098da;
   font-family: 'Roboto', sans-serif;
}

/*---* News End *---*/

/*---*  Product Detail Starts*----*/

.product_detail{
    padding:30px 0px;
}
.product_detail h2{
    text-align:center;
    font-weight:700;
    margin-top:15px;
    margin-bottom:15px;
    color: #2068b0;

}

.product-summary .product-title {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.product-detail{
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}


/*---* Product Detail Starts*----*/



/*---* About-Us Start*----*/

.about-us {
    width: 100%;
    padding-top: 50px;
}

.about-us-detail {
    width: 100%;
    text-align: center;
}

.about-us-detail h2 {
    font-size: 24px;
}
.about-us-detail p {
    padding-top: 45px;
    line-height: 26px;

}
.aviva-values {
    width: 100%;
    padding-top: 95px;
}

.map {
    width: 50%;
    border: 1px solid #e9e9e9;
}

.map img {
    box-shadow: 0 6px 37px 0 rgba(0, 0, 0, 0.06);
    margin: 50px;
}

.value-details {
    width: 40%;
    margin-left: 110px;
}
.value-heading {
    width: 100%;
    float: left;
    padding-top: 5px;
    padding-bottom: 18px;
}

.value-heading h2 {
    color: #0098da;
    font-size: 32px;
    padding-top: 48px;
    font-weight: 500;
}
.value-details p {
    font-size: 15px;
    padding-bottom: 31px;
    padding-top: 47px;
    line-height: 26px;
}
.value-details p br {
    display: none;
}

.value-details span {
    float: left;
    font-size: 15px;
    padding-bottom: 6px;
    color: #0c2746;
    line-height: 26px;

}

.value-details span img {
    margin-right: 18px;
}

.aviva-capabilities {
    width: 100%;
    padding-bottom: 104px;
    padding-top: 95px;
}

.capabilities-heading {
    width: 100%;
    text-align: center;
}

.capabilities-heading h2 {
    color: #0098da;
    font-family: "Roboto Medium", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.capabilities-details span {
    float: left;
    font-size: 14px;
   font-family: 'Roboto', sans-serif;
    padding-bottom: 6px;
    color: #0c2746;

}

.our-capabilities {
    width: 100%;
    padding-top: 40px;
}
.img-cen{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.infrastructure h2, .research-wing h2, .paradigms-details h2 {
    font-size: 26px;
    color: #0098da;
    padding-bottom: 16px;
}
.infrastructure p, .research-wing p, .paradigms-details p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.infrastructure-img {
    float: right;
    width: 279px;
    background-color:rgba(36,51,70,0.9);
    border-radius: 100%;
    height: 279px;
    margin-top: -58px;
    margin-right: -24px;
    text-align: center;
}
.infrastructure-img img {
    padding-top: 82px;
}

.research-wing-img {
    float: left;
    width: 279px;
    background-color:rgba(36,51,70,0.9);
    border-radius: 100%;
    height: 279px;
    margin-top: -56px;
    text-align: center;
    margin-left: -55px;
    margin-right: 41px;

}
.research-wing-img img {
    padding-top: 52px;

}
.paradigms {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: -89px;
}
.paradigms-img {
    margin-left: 467px;
    text-align: center;
    width: 279px;
    background-color:rgba(36,51,70,0.9);
    border-radius: 100%;
    height: 279px;
}
.paradigms-img img {
    padding-top: 85px;
}
.paradigms-details {
    width: 100%;
    float: left;
    padding-top: 0px;
}

/*---* About-Us End*----*/
.signout{
    display:none;
}
.product-box{
    height:500px;
}

/*---* Request Quotation Start *---*/
.request_question {
    width:100%;
    float:left;
    padding:40px 0 60px;
}
.request_wrap {
    width:100%;
    max-width:992px;
    margin:0 auto;
}
.request_menu {
    width:100%;
    max-width:900px;
    margin:0 auto;
    padding:0 0 0px;
}
.request_menu li {
    float:left;
    text-align:center;
    width:33.33%;
}
.request_border {
    width:50%;
    float:right;
    height:1px;
    background:#0098da;
    position:relative;
    top:20px;
    z-index:-1;
}
.request_menu li:nth-child(2) .request_border  {
    width:100%;
}
.request_menu li:last-child .request_border {
    float:left;
}
.request_menu li a {
    border:1px solid #0098da;
    background:#fff;
    color:#0098da;
    padding-top:9px;
    height:40px;
    width:40px;
    font-size:15px;
    font-weight:500;
    display:inline-block;
    border-radius:50%;
    transition:all 0.5s ease 0.2s;

}
/*.request_menu li.active a, .request_menu li a:hover {*/
    /*color:#fff;*/
    /*background:#30e299;*/
    /*border:1px solid #30e299;*/
/*}*/
.request_menu li label {
    width:100%;
    margin-top:10px;
}
.question_main {
    padding-top:30px;
}
.question_part {

    background-color:#efefef;
    padding:15px 0;
    margin-bottom:30px;
}
.question_answer {
    width: 100%;
    float: left;
    background: #fff;
    padding: 15px;
    border-radius:0px;

}
.question_answer_review {
    float:left;
    width:100%;
}
.question_answer label {
    font-weight:400;
    font-size:14px;
    font-family: "Roboto Medium", sans-serif;
    margin-bottom:10px;

}
.question_answer_review label {
    font-weight:400;
    font-size:14px;
    font-family: "Roboto Medium", sans-serif;
    margin-bottom:5;

}
.head_question {
    width:100%;
    float:left;
    padding-bottom:10px;
}
.head_question label {
    width:100%;
    float:left;
    color:#0098da;
    font-size:22px;
}
.answerview {
    width:100%;
    float:left;
    padding-bottom:20px;
}
.label_border {
    border:none;
    width:100%;
    float:left;
    border-top:1px solid #ccc;
    margin:5px 0 10px;
}
.panel-title  a{
    color:#0098da;
}
.panel-title  label{
    font-size: 16px;
    color: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin:0 0;
}
.question_answer_review .answer_span, .product_review {
    color:#333;
    width:100%;
    font-weight:400;
    float:left;
}
.question_answer input, .question_answer select, .question_answer .form-control:focus {
    width: 100%;
    font-family: "Roboto Medium", sans-serif;
    font-size: 14px;
}
.product_select {
    margin-bottom:0;
}
.checkbox {
    padding-left: 20px;
    margin:5px 0;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top:3px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}
/*---* Request Quotation End*---*/

.product-item{
    text-align: center;
}
.product-box{
    width: 100%;
}
.product_not_available{
    padding: 100px;
}





